/*************************************
 * CONFIG
 */

$green: #abc63d;
$blue: #56a5da;
$red: #ea8557;
$purple: #8e44ad;
$mint: #16a085;
$orange: #ffb700;
$facebook: #0869ad;
$edit: #27ae60;
$delete: #CC0000;
$add: #abc63d;


/*************************************
 * BUTTON THEME
 */

.button {
	display: inline-block;
	background: rgba(255,255,255,0.1);
	padding: 0.8em 1.7em 0.7em 1.7em; 
	border: solid 2px $nephritis;
	color: darken($nephritis, 10);
	cursor: pointer;
	border-radius: 0.3em;

	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:hover {
		border-color: #FFF;
		background: $nephritis;
		color: #FFF;
		@include box-shadow(0 0 10px 0 rgba(0,0,0,0.3));
		text-decoration: none !important;
	}

	@include single-transition(all, 0.2s, ease-in);

	@include buttonColor( 'green', $green );
	@include buttonColor( 'blue', $blue );
	@include buttonColor( 'red', $red );
	@include buttonColor( 'purple', $purple );
	@include buttonColor( 'mint', $mint );
	@include buttonColor( 'facebook', $facebook );
	@include buttonColor( 'orange', $orange );
	@include buttonColor( 'edit', $edit );
	@include buttonColor( 'delete', $delete );
	@include buttonColor( 'add', $add );

	&[disabled],
	&[data-loading] {
		border-color: rgba( 0, 0, 0, 0.07 );
		cursor: default;
		background-color: #999;

		&:hover {
			cursor: default;
			background-color: #999;
		}
	}

	&[data-size=xs] {
		padding: 0.3em 0.9em 0.2em 0.9em;
		line-height: 1.2;
		text-align: center;

		/*&, .label {*/
			/*font-size: 0.8em;*/
		/*}*/
	}

	&[data-size=s] {
		padding: 0.2em 0.9em;

		&, .label {
			font-size: 0.8em;
		}
	}

	&[data-size=l] .label {
		font-size: 1.2em;
	}

	&[data-size=xl] .label {
		font-size: 1.5em;
	}

	&.registration {
		span { display: block; }
	}
}
