/* --- Forms --- --- --- --- --- --- --- --- --- --- --- --- --- */
.gform_body { 
	overflow: hidden;
	background: #fff;

	.gform_fields {
		padding: 0 0 1em 0;
	}

	.gfield {
		display: block; list-style: none outside;
		border: 1px solid #CCC; padding: 0.8em 1em 0.6em 1em; background: #fff; overflow: hidden; position: relative;
		@include transition(all 0.2s ease);

		& + .gfield { margin-top: -1px; }

		label { display: block; }
		label .gfield_required { color: #900; padding-left: 0.2em; }
		input, textarea { display: block; width: 100%; margin: 0.05em -0.2em; padding: 0 0.2em; border: none; outline: none; border-radius: 0.2em; background: none; }
		textarea { height: 7em; }
		select { width: 100%; border: 1px solid #CCC; outline: none; padding: 0.1em 0.5em; }

		&.gsection {
			border: none; padding: 0; margin: 0;

			h2, h3 { margin: 0.5em 0 0.2em 0; }
		}

		&.gfield_contains_required {
			/*label:after { color: #EEE; content: " - Това поле е задължително"; }*/
		}

		&.focused {
			position: relative; z-index: 1000;
			
			/* TODO: Move the coloring of the forms to variables */
			background: #f2f6e9;
			border-color: #92bc2e;

			label { color: #000; } 
			label:after { display: none; }

			&.checkbox { background: none; border-color: inherit; }

			.help { color: #444; }
		}

		&.populated {
			label { color: #999; }
			input, textarea { }
		}

		&.disabled {
			background: #eee;

			label { color: #999; }
			input, textarea { color: #999; }
		}

		.gfield_radio {
			padding: 0;

			li { display: block; list-style: none outside; padding-left: 0.3em; }
			input, label[for] { display: inline-block; width: auto; }
			input { position: relative; bottom: 0.1em; }
			label[for] { color: #000; padding: 0 0 0 0.6em; }
		}

		.gfield_description {
			font-size: 0.9em; color: #888; font-style: italic; 
			@include transition(all 0.2s ease-in);
		}

		$warningColor: #fe8101;
		$positiveColor: #080;
		$errorColor: #800;

		.validation_message {
			display: block; position: absolute; top: 0.8em; right: -2.2em; font-style: normal;
			font-family: FontAwesome; font-weight: normal; font-style: normal; 
			text-align: right; opacity: 0;
			border: 1px solid #CCC; background: #fff;
			padding: 0.2em 0.5em;
			@include transition(all 0.3s ease); 

			&:after {
				font-size: 1.2em; padding-left: 0.5em;
			}
		}

		&.gfield_error {
			label:after { display: none; }
			.validation_message { right: 0.9em; opacity: 1; }
		}

		&.gfield_error {
			background: lighten($errorColor, 70);
			&, label, .gfield_description { color: $errorColor; }

			.validation_message:after { 
				content: '\f071';
			}
		}

		.validation_message {
			&.warning { content: '\f071'; }
			&.positive { content: '\f00c'; }
		}

		/* --- Form Specific grids --- */

		&.fcol { float: left; } 
		&.fcol.w2 { width: 20%; }
		&.fcol.w25 { width: 25%; }
		&.fcol.w3 { width: 30%; }
		&.fcol.w33 { width: 33.3%; }
		&.fcol.w5 { width: 50%; }
		&.fcol.w67 { width: 66.7%; }
		&.fcol.w7 { width: 70%; border-left: 0; }

		&.fcol:first-of-type + .gfield.fcol { margin-top: 0; }

		&.fcol.w2 + .fcol.w2,
		&.fcol.w2 + .fcol.w2 + .fcol.w2,
		&.fcol.w2 + .fcol.w2 + .fcol.w2 + .fcol.w2,
		&.fcol.w2 + .fcol.w2 + .fcol.w2 + .fcol.w2 + .fcol.w2,
		&.fcol.w25 + .fcol.w25,
		&.fcol.w25 + .fcol.w25 + .fcol.w25,
		&.fcol.w25 + .fcol.w25 + .fcol.w25 + .fcol.w25,
		&.fcol.w33 + .fcol.w33,
		&.fcol.w33 + .fcol.w33 + .fcol.w33,
		&.fcol.w33 + .fcol.w67,
		&.fcol.w5:nth-of-type(2n) { border-left: 0; }

		&.fcol.w33:first-of-type + .fcol.w33 + .fcol.w33 { margin-top: 0; }

		&.fcol.w25 + .fcol.w25 + .fcol.w25 + .fcol.w25 + .gfield,
		&.fcol.w33 + .fcol.w33 + .fcol.w33 + .gfield,
		&.fcol.w5 + .fcol.w5 + .gfield:not(.fcol),
		&.fcol.w3 + .fcol.w7 + .gfield:not(.fcol) { clear: both; border-top: 0; }

	}

	fieldset { 
		border: solid 1px #CCC; border-width: 1px 0 0 0; padding-top: 1em; padding-bottom: 2em;

		legend { padding: 0 1em 0 0; font-size: 1.2em; font-weight: bold; }
	}
	
}

.validation_error {

}

// Fix for Chromes autocomplete style messiness
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
} 


form.registration {
	.gform_fields {
		& > li {

		}
	}
}
