/* --- Layout --- --- --- --- --- --- --- --- --- --- --- --- --- */

$susy: (
	global-box-sizing: border-box,
	columns: 12,
	gutters: 0,
	math: fluid,
	output: float,
	gutter-position: inside,
);

.site {

}

.site-content {
	@include container;
	@include clearfix; 

	@include breakpoint(768px) {
		#primary {
			padding-right: 4em;
			@include span(6 of 12);
		}

		#secondary {
			@include span(6 of 12 last);
		}
	}

	@include breakpoint(1024px) {
		#primary {
			@include span(8 of 12);
		}

		#secondary {
			@include span(4 of 12 last);
		}
	}

	@include breakpoint(1280px) {
		#primary {
			padding-right: 6em;
		}
	}
	
}

.site-header, .site-content, .site-footer, #registration {

	@include breakpoint(768px) {
		padding: 7em 6em;
	}
	
	@include breakpoint(1280px) {
		padding: 7em 8em;
	}

	@include breakpoint(1900px) {
		padding: 9em 12em;
	}
	
}

.site-content {
	/*padding: 5em 6em;*/
}

.site-header {
	@include bgrd-triangles(lighten($belizehole, 20));

	@include breakpoint(1280px) {

		.wrapper {
			overflow: hidden;
		}

		.site-branding { 
			float: left;
		}

		.main-navigation {
			float: right;
		}
	}
}

.site-content, .site-footer {
	a:hover { text-decoration: underline; }
}

.site-content {
	background: #EEE;
}

.site-footer {
	@include bgrd-triangles(lighten($midnightblue, 10));

   	& { color: #FFF; }
	a { font-style: italic; color: $sunflower; }
}
