/* --- Navigation --- --- --- --- --- --- --- --- --- --- --- --- --- */

.main-navigation {
	padding: 1.5em 0 0 0;

	ul { margin: 0; padding: 0; }

	li { list-style: none outside; display: inline-block; margin: 0 1em 0 0; }

	a {
		position: relative; 
		display: block; 
		line-height: 1em; 
		padding: 1em 1.5em 0.9em 1.5em; 
		border: solid 2px #FFF;
		color: #FFF;
		@include single-transition(all, 0.2s, ease-in);
		@include border-radius(0.4em);

		span {
			display: block; 

			@include single-transition(all, 0.1s, ease-in);

			&.label { padding-left: 40px; } 
			&.value { padding-left: 40px; font-size: 0.8em; color: #CCC; }
		}

		span.icon {
			width: 40px; height: 40px; 
			font-size: 1.9em; line-height: 15px;
			text-align: center; 
			opacity: 0.1;
			position: absolute; top: 5px; left: 5px;
			font-family: 'Pictos', serif;

			@include single-transition(all, 0.2s, ease-in);
		}

		&:hover {
			background: rgba(255,255,255,0.1); 
			border: solid 2px rgba(0,0,0,0.4);
			color: rgba(0,0,0,0.6);
			
			span.icon {
				opacity: 1;
				color: #369;
			}

			.label { color: #369; }
			.value { color: #999; }
		}
	}

}

