/* --- Typography --- --- --- --- --- --- --- --- --- --- --- --- --- */

/*@import url(http://fonts.googleapis.com/css?family=Scada:400italic,700italic,400,700&subset=latin,latin-ext,cyrillic);*/
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic&subset=cyrillic-ext,latin,latin-ext,cyrillic);

body { 
	font: 12px/1.5 "Fira Sans", sans-serif; 

	.site-branding { }

	@include breakpoint(768px) { 
		font-size: 14px;

		.site-branding { font-size: 1.2em; }
	}

	@include breakpoint(1024px) { 
		font-size: 14px;

		.site-branding { font-size: 1.4em; }
	}
}

form, input, textarea, select, option {
	font: inherit;
}

h1, h2, h3, h4, h5, h6 { 
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 0.3em;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

p {
	padding-bottom: 1.5em;
}

ul, ol { 
	padding: 0 1.5em 1.5em 1.5em;

	li {
		list-style: inherit inside;
	}
}


