/* --- Imports --- --- --- --- --- --- --- --- --- --- --- --- --- */
@import "compass";
@import "susy";
@import "breakpoint";

@import "reset";
@import "colors";
@import "typography";
@import "forms";
@import "buttons";
@import "buttons-theme";

@import "layout";
@import "navigation";
@import "hentry";
@import "home";

@include border-box-sizing;

/* --- Stuff --- --- --- --- --- --- --- --- --- --- --- --- --- */
body {
	background: url("../images/brushed_alu/brushed_alu.png");
	color: #444;
} 

a { 
	text-decoration: none;
	color: #369;
}

.site-branding { 
	@include text-shadow(rgba(white, 0.6) 2px 2px 0);
}

.site-title,
.site-description { 
	line-height: 1;
	margin: 0;
	font-weight: 500;
}

.site-description { 
	font-weight: normal;
	color: #666;
	font-weight: 300;
}
