/* --- Imports --- --- --- --- --- --- --- --- --- --- --- --- --- */
@import "compass";
@import "susy";
@import "breakpoint";

@import "reset";
@import "colors";
@import "typography";
@import "forms";
@import "buttons";
@import "buttons-theme";

@import "layout";
@import "navigation";
@import "hentry";
@import "home";

@include border-box-sizing;

/* --- Stuff --- --- --- --- --- --- --- --- --- --- --- --- --- */
body {
	/*background: url("../images/brushed_alu/brushed_alu.png");*/
	color: #444;
} 

a { 
	text-decoration: none;
	color: #369;
}

.site-header {
}

.site-branding { 
}

.site-title {
	text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
}

.site-title,
.site-description { 
	line-height: 1;
	margin: 0;
	font-weight: 500;

	&, a { color: #FFF; }
}

.site-description { 
	font-weight: normal;
	font-weight: 300;
}

.site-content {
	color: #666;

	h2, h3, h4, h5, h6 {
		&, a { color: $wetasphalt; }
	}
}
